# Prerequisites
*.d

# C built filea
*.exe
mipssim

# Eclipse project files
.buildpath
.settings/org.eclipse.cdt.core.prefs

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Debug/
mipssim
AlasdairTesting.c
mipssim
mipssim
mipssim
mipssim
mipssim
alt folder/inf2cs-cw2-skeleton(2).tar
alt folder/skeleton/memfile-complex.txt
alt folder/skeleton/memfile-simple.txt
alt folder/skeleton/memory_hierarchy.c
alt folder/skeleton/mipssim.c
alt folder/skeleton/mipssim.h
alt folder/skeleton/parser.h
alt folder/skeleton/regfile.txt
t1.txt
t10.txt
t2.txt
t3.txt
t4.txt
t5.txt
t6.txt
t7.txt
t8.txt
t9.txt
mipssim
